<html>
	<% include ../layouts/header %>
<body>
	<h2>
		<%= title %>
	</h2>
	<% if(error.length>0){ %>
		<div><%= error %></div>
	 <% } %>
	<form method="post">
		<input type="text" name="cname" placeholder="Enter your company name">
		<textarea type="text" name="cdesc" placeholder="tell us about your company" rows="4"></textarea>
		<input type="submit" name="action" value="Save">
	</form>
	<p><a href="/su">Cancel</a></p>
</body>
</html>