<html>
	<% include ../layouts/header %>
<body>
	<h2>
		<%= title %>
	</h2>
	<% if(error.length>0){ %>
		<div><%= error %></div>
	 <% } %>
	<form method="post">
		<input type="text" name="username" placeholder="Enter email">
		<input type="password" name="password" placeholder="Enter your password">
		<input type="password" name="rpassword" placeholder="Repeat your password">

		<select name="role">
			<option value="">Choose user role</option>
			<% for(var key in roles ) {%>
				<option value="<%= key %>"><%= roles[key] %></option>
			<% } %>
		</select>

		<select name="cname">
		<option value="">Choose company</option>
		<% for(var i=0; i<companylist.length; i++) {%>
   			<option value="<%= companylist[i]._id %>"><%= companylist[i].name %></option>
		<% } %>
		</select>
		<a href="/su/addcompany">+ Add Company</a>
		<br/>
		<br/>
		<input type="checkbox" name="isVarified">Verified User
		<br/>
		<br/>
		<br/>
		<input type="submit" name="action" value="Save">
		&nbsp;<a href="/su">Cancel</a>
	</form>
</body>
</html>