<html>
	<% include ./layouts/header %>
<body>
	<% include ./layouts/navbar %>
	<br />
		here we will show the list of users
	<br/>
	User name: <%= uuid %> &amp; type of user: <%= type %>
	<p>&nbsp;</p>
	<button>Add Category</button>
	<button>There are categories</button>
</body>
</html>