<html>
	<head>
	<title>404 | RedCRM</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	Opps something went wrong!
	<br/>
	<pre>
		<%= message %>
	</pre>
</body>
</html>