<html>
	<% include ./layouts/header %>
<body>
	<h2>
		<%= title %>
	</h2>
	<% if(error.length>0){ %>
		<div><%= error %></div>
	 <% } %>
	<form method="post">
		<input type="text" name="email" placeholder="Enter email address">
		<input type="submit" name="action" value="Send">
	</form>
	<p><a href="/">&lt; Back</a></p>
</body>
</html>