<html>
	<% include ./layouts/header %>
<body>
	<h2>
		<%= title %>
	</h2>
	<% if(error.length>0){ %>
		<div><%= error %></div>
	 <% } %>
	
	<p>u:su, p:admin@123</p>
	<p>u:admin, p:admin@123</p>
	<p>u:guest, p:admin@123</p>
	
	<form method="post">
		<input type="text" name="username" value="admin" placeholder="Enter username">
		<input type="password" name="password" value="admin@123" placeholder="Enter your password">
		<input type="submit" name="action" value="Login">
	</form>
	<p><a href="/signup">I don't have account</a></p>
	<p><a href="/forget">Forget Password</a></p>
</body>
</html>