<html>
	<% include ./layouts/header %>
<body>
	<h2>
		<%= title %>
	</h2>
	<% if(error.length>0){ %>
		<div><%= error %></div>
	 <% } %>
	<form method="post">
		<input type="text" name="username" placeholder="Enter email">
		<input type="password" name="password" placeholder="Enter your password">
		<input type="password" name="rpassword" placeholder="Repeat your password">
		<input type="text" name="cname" placeholder="Enter your company name">
		<textarea type="text" name="cdesc" placeholder="tell us about your company" rows="4"></textarea>
		<input type="submit" name="action" value="Signup">
	</form>
	<p><a href="/">I already have account</a></p>
</body>
</html>