<html>
	<% include ./layouts/header %>
<body>
	<% include ./layouts/navbar %>
	<a href="/su/adduser">Add new user</a> | 
	<a href="/su/addcompany">Add new company</a>
	<br /><br />
	User name: <%= uuid %> &amp; type of user: <%= roles[role] %>	
	<br/>
		here we will show the list of users
	<br/>
	<br/>
	<br/>
	<ul>
	<% for(var i=0; i<userlist.length; i++) {%>
		<% if(userlist[i].role<1) { continue; }%>
   		<li><%= userlist[i].username %> | <%= roles[userlist[i].role] %> | <%= userlist[i].company_id["name"] %> | <a href="/su/edituser/<%= userlist[i]._id %>">edit</a></li>
   		<br/>
	<% } %>
	</ul>

</body>
</html>