html {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
}

body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

nav {
    width: 100%;
}

.mainmenu {
    width: 100%;
    list-style: none;
    float: left;
}
ul{
	float: left;
    padding: 0px;
    margin: 0px;
}
li {
    float: left;
    padding-right: 20px;
}

.topmenu {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    max-height: 20px;
    text-align: right;
}

li.right {
    position: absolute;
    right: 20px;
}
